.company-name{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem  1rem;
    border-radius: .3rem;
    background-color: rgba(255, 255, 255, 0.281);
}

.tag , .flow{
    font-size: 3rem;
    font-family: var(--mainfont);
    display: inline-block;
    text-shadow: 0rem 0rem 2rem white;
}

.tag{
    color: var(--primary);
}

.flow{
    color: var(--secondary);
}