.recharge-page{
    margin: 3rem auto;
    padding: 1rem;
    font-family: var(--mainfont);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    align-items:center;
}

.msg{
    color: var(--primary);
    font-size: 2rem;
    padding: 1rem;
}

.recharge-info{
    position: relative;
    margin: 4rem auto;
    padding: 2rem;
    padding-bottom: 5rem;
    min-width: 50vw;
    min-height: 40vh;
    background-color: rgba(0, 0, 0, 0.192);
    border-radius: .4rem;
    box-shadow: .5rem .5rem 1rem gray; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.user-name{
    font-size: 2rem;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: white;
}

.recharge-info form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.recharge-info form input{
    border: .2rem solid transparent;
    border-radius: .3rem;
    padding: .5rem 1rem;
    font-size: 1.5rem;
}


.recharge-info form input:focus{
    outline: none;
    border: .2rem solid var(--primary);
}

.recharge-info form button{
    font-size: 1.3rem;
    padding: .5rem 1rem;
    background-color: var(--secondary);
    color: white;
    border-radius: .3rem;
}

.go-back{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.438);
    color: white;
    padding: .5rem 1rem;
    border-radius: .3rem;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.go-back:hover{
    box-shadow: .2rem .2rem .5rem rgb(80, 80, 80);
    transform: scale(102%);
    transition: all .3s;
}