*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  

  --primary:#ff6500;
  --secondary:#1e3e62;
  --mainback: #fff;

  --secondarytrans:#1e3e62c5;
  --primarytrans:#ff6600c2;

  --mainfont: "Roboto", sans-serif;
  --secondfont: "Inter", sans-serif;
}